/* ----------- HOMEPAGE BANNER/SLIDESHOW ----------- */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  line-height: 1;
  width: 100%;
}

.carousel .item {
  max-height: 500px;
}

.carousel .carousel-control {
  height: 100%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-caption {
  font-family: "Lato",sans-serif;
  left: auto;
  right: 10%;
  text-align: right;
  width: 35%;
}

.carousel-caption h3 {
  font-size: 2.25em;
  font-weight: 900;
  text-transform: uppercase;
}

.carousel-caption .larger {
  font-size: 1.25em;
  display: inline-block;
  margin: 0 3px;
}

.learn-more {
  background: none repeat scroll 0 0 #f0be0f;
  color: #fff;
  display: inline-block;
  margin-top: 1em;
  overflow: hidden;
  padding-left: 10px;
  text-shadow: none;
}

.learn-more:hover {
  background: #e1b00f;
  color: #fff;
  text-decoration: none;
}

.link-arrow {
  background: rgba(0,0,0,0.25);
  color: #f0be0f;
  display: inline-block;
  margin-left: 5px;
  padding: 6px;
}

/* ----------- MEDIA QUERIES ----------- */


@media screen and (max-width: 768px) {
    
.carousel-indicators {
    bottom: -8px;
}

.carousel-caption {
  font-family: "Lato",sans-serif;
  left: auto;
  right: auto;
  text-align: center;
  width: 100%;
  position: relative;
  background: #ddd;
  top: 0;
  padding: 1em;
  z-index: 0;
}

.carousel-inner {
  overflow: inherit;
}

.item > .container {
  padding: 0;
}

.carousel .item {
  max-height: inherit;
}



}

@media screen and (max-width:480px) {

}