#footer-hat-new {
	padding: 23px;
	background-color: $dark-blue;
  	color: white;
  	text-align: center;

	.footer-row{
		
	}
	.col-sm-6 {
		border-left: $yellow 3px solid;
  		border-right: $yellow 3px solid;
	}

}