.navbar {
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.9);
  z-index: 2;
  border: none;
  border-radius: 0;
  ul {
    li {
      a {
        color: $dark_gray;
      }
      text-transform: uppercase;
    }
  }
}

