

#news-article {
	margin-bottom: 40px;
	.media-left {
		.discovery {
			color: $white;
			background-color: $yellow;
			padding: 30px;
			margin-top: 26px;
		}
		.training {
			color: $white;
			background-color: $mid-blue;
			padding: 30px;
			margin-top: 26px;
		}
		.community {
			color: $white;
			background-color: $dark-blue;
			padding: 30px;
			margin-top: 26px;
		}
	}
	.media-body {
		width: inherit;
		
		.figure{
			float:left;
			margin: 7px 30px 2px 0;

			figcaption {
				text-align: center;
				font-size: .8em;
				font-style: italic;
				max-width: 400px;
				margin-top: 5px;
			}
		}

		.linktext {
			font-weight: 400;
			background-color: orange;
			border-radius: 0px;
		}
		.video-wrapper {
			margin-right: 3em;
		}
	}

	.link-button {

	}
}

/* ARTICLE PAGE */
.news-row {
	background-color: #eeeeee;
	font-family: "lato";
	font-weight: 200;
	text-align: left;
	color: #465482;
	p {
		line-height: 1.4;
	}
	.news-title {
		text-align: center;
		font-size: 1.8em;
		color: #FFFFFF;
	}
}