.news-row {
  background: url("../img/halftone.jpg") repeat scroll 0 0 #eeeeee;
  font-family: "lato";
  font-weight: 200;
  text-align: left;
  color: #465482;
  border-bottom: .5em solid #465482;
}

.news-row p {
  line-height: 1.75;
}

.news-row > .row {
  border-bottom: .25em solid #f7bc2d;
  padding-bottom: 30px;
}

#news-article {

	.media-left {
		.discovery {
			color: $white;
  			background-color: $yellow;
  			padding: 30px;
  			margin-top: 26px;
		}
		.training {
			color: $white;
  			background-color: $mid-blue;
  			padding: 30px;
  			margin-top: 26px;
		}
		.community {
			color: $white;
  			background-color: $dark-blue;
  			padding: 30px;
  			margin-top: 26px;
		}
	}
	.media-body {
		width: inherit;
		
		.figure{
			float:left;
			margin: 7px 20px 0 0;

			figcaption {
				text-align: center;
			}
		}

		.linktext {
			font-weight: 400;
			background-color: orange;
  			border-radius: 0px;
		}
	}

	.link-button {

	}
}