/* ----------- TRANSLATIONAL SCIENCE ROW ----------- */

.trans-row {
  background: url("../img/halftone.jpg") repeat scroll 0 0 #eeeeee;
  font-family: "lato";
  font-weight: 100;
  text-align: center;
  color: #465482;
  border-bottom: .5em solid #465482;
}

.trans-row p {
  line-height: 1.75;
}

.trans-row > .row {
  border-bottom: .25em solid #f7bc2d;
}

.t-box > h3, .t-bold {
  font-weight: 700;
}

.t-box {
  border-right: 2px solid #465482;
  margin-bottom: 1em;
}

.t-box:last-child {
  border-right: none;
}

.t-box > p {
  font-size: 1.25em;
}

.t-box > img {
  max-height: 10em;
  display: inline-block;
  vertical-align: middle;
}


/* ----------- MEDIA QUERIES ----------- */

@media screen and (max-width: 900px) {
.t-box {
  border-right: none;
}

.t-box:last-child {
  border-right: none;
}
}

@media screen and (max-width: 768px) {

  .t-box {
  border-right: none;
  border-bottom: 2px solid #465482;
  padding-bottom: 1em
}

.t-box:last-child {
  border-right: none;
  border-bottom: none;
}
}