$yellow: #f4bd16;
$dark_yellow: #c29306;
$dark_blue: #455284;
$mid_blue: #21a3dd;
$light_blue: #21a4dd;
$light_gray: #f1f1f1;
$dark_gray: #222222;
$white: #FFFFFF;
$border: solid 1px $light_gray;

body {
	font-family: 'Lato', sans-serif !important;
	font-size: 16px;
	overflow-x: hidden;
}
main {
	background-color: $light_gray;
}

.btn-primary {
	background-color: $dark_blue;
	color: $white;
}
.btn-secondary {
	background-color: $yellow;
	color: $white;
}
.btn-tertiary {
	background-color: $light_gray;
	color: $dark_gray;
}

@import 'news-article';
@import 'footer-hat';
@import 'list-table';
@import 'news-row';