$yellow: #f4bd16;
$dark_yellow: #c29306;
$dark_blue: #455284;
$mid_blue: #455284;
$light_blue: #21a4dd;
$light_gray: #f1f1f1;
$dark_gray: #222222;
$white: #FFFFFF;
$border: solid 1px $light_gray;

body {
	font-family: 'Lato', sans-serif !important;
}
@import 'navigation';
@import 'breadcrumbs';
@import 'carousel';
@import 'search-results';
@import 'news-article';